<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858851180385-3uub0tccdiv1j68db3sif35157ctaimh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858851180385-3uub0tccdiv1j68db3sif35157ctaimh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>858851180385-bk5fn7t0urhlgvicsnm7mnsrd628m4ja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-dOTuKj3qMlLGy1hEYkgWUbxtT8A30mg</string>
	<key>GCM_SENDER_ID</key>
	<string>858851180385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vlazar83.SoproniEvangelikus-iOS</string>
	<key>PROJECT_ID</key>
	<string>sopronievangelikus</string>
	<key>STORAGE_BUCKET</key>
	<string>sopronievangelikus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858851180385:ios:497c5ca9ddcefc5a9e8f20</string>
	<key>DATABASE_URL</key>
	<string>https://sopronievangelikus.firebaseio.com</string>
</dict>
</plist>